fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
psycopg2-binary
alembic
passlib[bcrypt]
openai
httpx
vnstock
pandas
joblib
scikit-learn
prophet
python-jose[cryptography]
python-multipart
numpy

